%ons-tabbar#main-tabbar{ position: "bottom" }
  %ons-tab.receive{ class: "active", active: true,  icon: "ion-md-arrow-down", label: "Receive", page: "receive.html" }
  %ons-tab.send{ icon: "ion-md-arrow-up", label: "Send", page: "send.html" }
  %ons-tab.payments{ icon: "ion-md-list", label: "Payments", page: "payments.html", badge: "2" }
